<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="styleb.css">
    <title>brief</title>
  </head>

  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <img src="img/white.png" width="130" height="24">
      <ul>
        <li><a href="Acceuil.html">Acceuil</a> </li>
        <li><a href="safi.html">SAFI</a> </li>
        <li><a class="current" href="briefs.html">Briefs</a> </li>
      </ul>
    </nav>

    <section style="display:flex;flex-direction:row;">
      <div class="flex-container">
        <div class="image">
          <img src="./img/slide4.jpg"
               width="100" height="100">
        </div>
        <h2>Dashboard</h2>
        <h2>Etudiant</h2>
        <h2>Competance</h2>
      </div>
      <div class="flex-level">
          <div class="item1" style="background-color:#E7DFDF;border-radius: 5%; width: 300px; height: 180px;" >
            <p id="i-lev1">level 1</p>
            <div class="ring">
              <div class="ring1"></div>
              <div class="ring2 ring1"></div>
              <div class="ring3 ring1"></div>
              <div class="ring4 ring1"></div>
              <div class="ring5 ring1"></div>
              <div class="ring6 ring1"></div>
              <div class="ring7 ring1"></div>
              <div class="ring8 ring1"></div>
              <div class="ring9 ring1"></div>
              <div class="ring10 ring1"></div>
              <p>65%</p>
            </div>
          </div>
          <div class="item2" style="background-color:#A7A7A7;border-radius: 5%; width: 300px; height: 180px;" >
            <p id="i-lev2">level 2</p>

            <div class="ring">
              <div class="ring1"></div>
              <div class="ring2 ring1"></div>
              <div class="ring3 ring1"></div>
              <div class="ring4 ring1"></div>
              <div class="ring5 ring1"></div>
              <div class="ring6 ring1"></div>
              <div class="ring7 ring1"></div>
              <div class="ring8 ring1"></div>
              <div class="ring9 ring1"></div>
              <div class="ring10 ring1"></div>
            </div>
          </div>
          <div class="item3" style="background-color:#9D7AD1;border-radius: 5%; width: 300px; height: 180px;" >
            <p id="i-lev3">level 3</p>

            <div class="ring">
              <div class="ring1"></div>
              <div class="ring2 ring1"></div>
              <div class="ring3 ring1"></div>
              <div class="ring4 ring1"></div>
              <div class="ring5 ring1"></div>
              <div class="ring6 ring1"></div>
              <div class="ring7 ring1"></div>
              <div class="ring8 ring1"></div>
              <div class="ring9 ring1"></div>
              <div class="ring10 ring1"></div>

            </div>
          </div>
          <div class="briefs">
            <div class="item4"
                 style="background-color:#F7F1F1;border-radius: 5%; width: 300px; height: 380px;">
              <p>briefs<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            <div class="item5" style="background-color:#A7A7A7;border-radius: 5%; width: 300px; height: 380px;">
              <p>briefs<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            </div>
            <div class="item6" style="background-color:#9D7AD1;border-radius: 5%; width: 300px; height: 380px;">
              <p>briefs<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
            </div>
          </div>

      </div>
    </section>

    <footer>
      <ul class="contact-list">
        <li >Youcode &copy; 2019, All Rights Reserved<br><br>
          contactez-nous sur: support@Youcode.ma</li>
        <li class="greyfont">YouCode © 2019</li>
        <li >Suivez-nous sur les réseaux sociaux<br><br>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </li>
      </ul>
    </footer>

  </body>
</html>