<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>SAFI</title>
</head>
  <body>
      <body>
          <header>
              <nav id="navbar">
                  <div class="container">
                      <h1 class="logo">
                          <a href="Acceuil.html"><img src="img/white.png" width="130" height="24"></a>
                      </h1>
                      <ul>
                          <li><a  href="Acceuil.html">Acceuil</a> </li>
                          <li><a class="current" href="safi.html">SAFI</a> </li>
                          <li><a href="briefs.html">Briefs</a> </li>
                      </ul>
                  </div>
              </nav>

              <div id="showcase">
                  <div class="container">
                      <div class="showcase-content">
                          <h1>
                              <span class="text-primary">Rebuilt
                              </span>Your Life
                          </h1>
                          <p class="lead">Lorem ipsum, dolor sit amet consectetur
                              adipisicing elit. Dolor, eligendi laboriosam.
                              Repellendus officia harum eaque.</p>
                          <a class="btn" href="about.html">About Youcode</a>
                      </div>
                  </div>

              </div>

          </header>
          <section id="home-info" class="bg-dark">
            <div class="info-img"></div>
            <div class="info-content">
                <h2><span class="text-primary">The History</span> Of Our Fabrique</h2>
                <p>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
                      aliquam dolor alias iste autem, quaerat magni unde accusantium qui
                      fuga placeat quidem quo pariatur, voluptatum, ea sequi? Corporis,
                      explicabo quisquam dolor placeat praesentium nesciunt mollitia quos
                      nobis natus voluptatum asperiores!
                </p>
                <a href="about.html" class="btn btn-light">Read More</a>
            </div>
        </section>


        <section id="features">
          <div class="box bg-light">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Great Location</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
          </div>
          <div class="box bg-primary">
              <i class="fas fa-utensils fa-3x"></i>
              <h3>Free Meals</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
          </div>
          <div class="box bg-light">
              <i class="fas fa-dumbbell fa-3x"></i>
              <h3>Coding Room</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
          </div>
        </section>
        <div class="location">
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3372.704654110454!2d-9.237442685460497!3d32.292917681120834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdac211719897669%3A0x6f59fa5bb517f58a!2sYouCode%20Safi!5e0!3m2!1sfr!2sma!4v1575904103153!5m2!1sfr!2sma" width="550" height="180" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
        </div>
          <!--
        <section id="compartments" class="bg-light">
          <div class="info-img"></div>
          <div class="info-content">
            <h2><span class="text-primary">Compartment</span> Of Our Fabrique</h2>
              <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
                    aliquam dolor alias iste autem, quaerat magni unde accusantium qui
                    fuga placeat quidem quo pariatur, voluptatum, ea sequi? Corporis,
                    explicabo quisquam dolor placeat praesentium nesciunt mollitia quos
                    nobis natus voluptatum asperiores!
              </p>
              <img src="img/Youcodeimg1.png">
          </div>
        </section>
        -->
        <div class="clr"></div>
    <footer>
      <ul class="contact-list">
        <li >Youcode &copy; 2019, All Rights Reserved<br><br>
          contactez-nous sur: support@Youcode.ma</li>
        <li class="greyfont">YouCode © 2019</li>
        <li >Suivez-nous sur les réseaux sociaux<br><br>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
        </li>
      </ul>
    </footer>

  </body>
</html>